<div class="grid-view-container">
    <div class="combox-wrapper" *ngIf="_combox">
        <ng-content select="combox-panel"></ng-content>
    </div>
    <div class="toolbar-wrapper" *ngIf="_toolbar">
        <ng-content select="toolbar-info-panel"></ng-content>
    </div>
    <div
        [ngClass]="{
            'grid-wrapper': true,
            'not-has-combox': !_combox && _toolbar,
            'not-has-toolbar': !_toolbar && _combox,
            'not-has-toolbar-info': _toolbar && !_toolbar.infoVisible,
            'only-grid': !_combox && !_toolbar
        }"
        [ngStyle]="{
            height: __gridWrapperHeight
        }"
    >
        <ng-content select="dx-data-grid"></ng-content>
    </div>
</div>
<dx-popup
    [shading]="false"
    [width]="220"
    [height]="350"
    [(visible)]="_columnChooserVisible"
    [closeOnOutsideClick]="true"
    [showTitle]="false"
>
    <dxo-position at="right top" my="right top" offset="-10 55" of="toolbar-info-panel"> </dxo-position>
    <div *dxTemplate="let item of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div style="padding: 5px 0px" class="column-setting-item" *ngFor="let column of _columns; let i = index">
                <dx-check-box
                    [(value)]="column.visible"
                    (onValueChanged)="_columnChooserEvent($event, column.dataField)"
                ></dx-check-box>
                &nbsp;
                <span>{{ column.caption }}</span>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>
