<div class="form-container">
  <dx-load-panel shadingColor="rgba(0,0,0,0)" [showPane]="true" [shading]="true" [showIndicator]="true"
      [(visible)]="loading">
  </dx-load-panel>
  <dx-popup
    #popup
    [width]="400"
    [height]="400"
    [showTitle]="true"
    title="{{ messageBoxDisplayText }}"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="messageBoxVisible"
    [shading]="false"
    [resizeEnabled]="true"
  >
  <dxo-position at="right bottom" offset="-220 -280" of="Window"> </dxo-position>
  <div class="message-box-wrapper">
      <dx-scroll-view width="100%" height="100%">
          <p *ngIf="messageBoxInfo.length == 0" style="font-size: 14px">{{ notMessageDisplayText }}</p>
          <div class="message-box-info" *ngFor="let info of messageBoxInfo">
              <p [innerHTML]="info | SafeHtml"></p>
          </div>
      </dx-scroll-view>
  </div>
</dx-popup>
  <div class="form-toolbar">
    <dx-button text="新增" icon="iconfont iconadd-select" type="default" (onClick)="add()"></dx-button>
    &nbsp;
    <dx-button text="保存" icon="iconfont iconsave" [disabled]="$save" type="default"
      (onClick)="onFormSubmit()"></dx-button>
    &nbsp;
    <dx-button text="撤销" icon="iconfont iconresonserate" [disabled]="$save" type="default"
      (onClick)="cancel()"></dx-button>
    &nbsp;
    <dx-button text="删除" icon="iconfont iconashbin" [disabled]="$deleted" type="default"
      (onClick)="deleteData()"></dx-button>
  </div>

  <div class="form-wrapper">
    <dx-form #form id="form" [colCount]="8" width="100%" [(formData)]="formData" style="padding-right: 10px"
    validationGroup="customerData" [showOptionalMark]="false" [showRequiredMark]="true"
    (onFieldDataChanged)="onFieldDataChanged($event)">
    <dxi-item itemType="group" [colSpan]="8" [colCount]="8">
      <dxi-item class="gray" [colSpan]="8">
        <h5>养户个人信息</h5>
      </dxi-item>
      <dxi-item [label]="{ text: '养户手机号', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入养户手机号', disabled: $fomat || $phone }" dataField="Phone">
        <dxi-validation-rule type="required" message="养户手机号必填"></dxi-validation-rule>
        <dxi-validation-rule type="pattern" message="请输入正确的手机格式" [pattern]="PhoneJudge"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [label]="{ text: '养户身份证', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入养户身份证', disabled: $fomat }" dataField="IdCardNumber">
        <dxi-validation-rule type="required" message="养户身份证必填"></dxi-validation-rule>
        <dxi-validation-rule type="pattern" message="请输入正确的身份证号" [pattern]="IdCardNumberType"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [label]="{ text: '养户姓名', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入养户姓名', disabled: $fomat }" dataField="YHPersonName">
        <dxi-validation-rule type="required" message="养户姓名必填"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [label]="{ text: '养户名称', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入养户名称', disabled: $fomat }" dataField="YHFarmerName">
        <dxi-validation-rule type="required" message="养户名称必填"></dxi-validation-rule>
      </dxi-item>
      <dxi-item class="lhd_dxi" [label]="{ text: '家庭住址', alignment: 'right',showColon: false }" dataField="Address" [colSpan]="4"
        [editorOptions]="{ placeholder: '请输入家庭住址', disabled: $fomat }">
        <!-- <dxi-validation-rule type="required" message="家庭住址必填"></dxi-validation-rule> -->
        <dxi-validation-rule type="stringLength" min="0" max="200" message="家庭住址内容长度最大200字">
        </dxi-validation-rule>
        <dxi-validation-rule type="pattern" message="非法字符" [pattern]="limitCharacter"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [label]="{ text: '性别', alignment: 'right',showColon: false }" editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{
            disabled: $fomat,
            dataSource: SexSource,
            valueExpr: 'value',
            displayExpr: 'name',
            placeholder: '请选择'
          }" dataField="Sex">
      </dxi-item>
      <dxi-item [label]="{ text: '助记码', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入助记码', disabled: $fomat }" dataField="MnemonicCode">
      </dxi-item>
      <dxi-item [label]="{ text: '管理部门', alignment: 'right',showColon: false }" [colSpan]="2" editorType="dxSelectBox" [editorOptions]="{
          dataSource: MarketSource,
          valueExpr: 'MarketId',
          displayExpr: 'MarketName',
          searchEnabled:true,
          placeholder: '请选择管理部门'
        }" dataField="MarketID">
      </dxi-item>
      <dxi-item [label]="{ text: '合作日期', alignment: 'right',showColon: false }" dataField="StartDate" [colSpan]="2">
          <dx-date-box (onValueChanged)="_onValueChanged($event)" [showClearButton]="true" [value]="StartDate" type="date" ></dx-date-box>
          <dxi-validation-rule type="required" message="合作日期必填"></dxi-validation-rule>
      </dxi-item>
      <dxi-item [label]="{ text: '备注', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
        [editorOptions]="{ showClearButton:true,placeholder: '请输入备注' }" dataField="Remarks">
      </dxi-item>
      <dxi-item [label]="{ text: '状态', alignment: 'right',showColon: false }" editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{
            dataSource: StatusSource,
            valueExpr: 'value',
            displayExpr: 'name',
            placeholder: '请选择状态'
        }" dataField="Status">
      </dxi-item>
    </dxi-item>
    </dx-form>

    <!-- <div class="div_gray">
      <h5>养户场栋对应表</h5>
    </div>

    <div class="lhd_but">
      <dx-button text="添加" icon="iconfont iconadd-select" type="default" (onClick)="addFarm()"></dx-button>
    </div>

    <dx-data-grid
          #detailFarmGrid
          [dataSource]="raisingFarmSource"
          width="1000px"
          height="300px"
          [sorting]="false"
          (onRowRemoved)="RowRemoved($event)"
          (onEditorPreparing)="_onDetailEditorPreparing($event)"
      >
          <dxi-column cssClass="" caption="开始日期" dataField="StartDate" dataType="date" alignment="center" [allowFiltering]="true" [editorOptions]="{
              displayFormat: 'yyyy/MM/dd'
          }"></dxi-column>
          <dxi-column cssClass="" caption="结束日期" dataField="EndDate" dataType="date" alignment="center" [allowFiltering]="true" [editorOptions]="{
              displayFormat: 'yyyy/MM/dd'
          }"></dxi-column>
          <dxi-column cssClass="disabled" caption="养殖场" dataField="ChickenFarmID" alignment="center" [allowEditing]="false">
            <dxo-lookup
                [dataSource]="ChickenFarmSource"
                displayExpr="ChickenFarmName"
                valueExpr="ChickenFarmID"
            ></dxo-lookup>
          </dxi-column>
          <dxi-column cssClass="disabled" dataField="ZoningID" caption="场区" alignment="center" [allowEditing]="false">
            <dxo-lookup
                [dataSource]="ZoningSource"
                displayExpr="ZoningName"
                valueExpr="ZoningID"
            ></dxo-lookup>
          </dxi-column>
          <dxi-column cssClass="disabled" caption="栋舍" dataField="HenHouseName" alignment="center" [allowEditing]="false"></dxi-column>
          <dxi-column cssClass="disabled" caption="容量（只）" dataField="iCount" dataType="number" alignment="right" [allowEditing]="false"
          [editorOptions]="{
              type: 'fixedPoint',
              min: 0
          }"></dxi-column>
          <dxi-column cssClass="disabled" caption="面积（平方米）" dataField="AreaSize" dataType="number" alignment="right" [allowEditing]="false"
          [editorOptions]="{
              type: 'fixedPoint',
              min: 0
          }"></dxi-column>
          <dxi-column type="buttons" caption="操作">
              <dxi-button name="delete"></dxi-button>
            </dxi-column>
          <dxo-editing [enabled]="true" [allowUpdating]="true" ></dxo-editing>
          <dxo-editing
              mode="cell"
              [allowDeleting]="true"
              >
          </dxo-editing>
      </dx-data-grid> -->

    <div class="div_gray">
      <h5>养户一致行动人表</h5>
    </div>

    <editor-multiple-grid >
      <editor-grid-tab (onOptionClick)="onActionClick($event)">
          <editor-grid-item  title=" " [options]="[{ text: '增行', key: 'add' },{ text: '删行', key: 'del' }]">
            <dx-data-grid class="data-grid-wrapper"
                #ActionGrid
                [dataSource]="actionDataSource"
                width="100%"
                height="300"
                [sorting]="false"
                [(selectedRowKeys)]="actionSelectedRows"
                (onEditorPreparing)="onDetailEditorPreparing($event)"
            >
            <!-- 选择框 -->
              <dxo-selection showCheckBoxesMode="always" mode="multiple"> </dxo-selection>
              <dxi-column cssClass="disabled" caption="姓名" dataField="Name" alignment="center" [allowEditing]="false"></dxi-column>
              <dxi-column cssClass="disabled" caption="手机号" dataField="Phone" alignment="center" [allowEditing]="false"></dxi-column>
              <dxi-column cssClass="disabled" caption="身份证号" dataField="Card" alignment="center" [allowEditing]="false"></dxi-column>
              <dxi-column caption="备注" dataField="Remarks" alignment="center" [allowEditing]="true"></dxi-column>
              <dxi-column type="buttons" caption="操作" cellTemplate="commandCell"></dxi-column>
              <div *dxTemplate="let row of 'commandCell'">
                  <span class="cellButton" *ngIf="row.data.Status && row.data.type" (click)="forbidden(row)">禁用</span>
                  <span class="cellButton" *ngIf="!row.data.Status && row.data.type" (click)="startUsing(row)">启用</span>
              </div>
              <dxo-editing
                  mode="cell"
                  [allowUpdating]="true"
                  [allowDeleting]="true"
                  >
              </dxo-editing>
            </dx-data-grid>
          </editor-grid-item>
      </editor-grid-tab>
    </editor-multiple-grid>

    <div class="div_gray">
      <h5>我公司管理人员表</h5>
    </div>

    <editor-multiple-grid >
      <editor-grid-tab (onOptionClick)="onDetailClick($event)">
          <editor-grid-item  title=" " [options]="[{ text: '增行', key: 'add' },{ text: '删行', key: 'del' }]">
            <dx-data-grid class="data-grid-wrapper"
                #detailGrid
                [dataSource]="detailDataSource"
                width="100%"
                height="300"
                [sorting]="false"
                (onEditorPreparing)="onDetailEditorPreparing($event)"
            >
                <!-- <dxi-column dataField="IDENTITY_RECORD"></dxi-column> -->
                <dxo-selection showCheckBoxesMode="always" mode="multiple"> </dxo-selection>
                <dxi-column cssClass="" caption="开始日期" dataField="StartDate" dataType="date" alignment="center" [allowFiltering]="true" [editorOptions]="{
                    displayFormat: 'yyyy/MM/dd'
                }"></dxi-column>
                <dxi-column cssClass="" caption="结束日期" dataField="EndDate" dataType="date" alignment="center" [allowFiltering]="true" [editorOptions]="{
                    displayFormat: 'yyyy/MM/dd'
                }"></dxi-column>
                <dxi-column cssClass="required" caption="人员" dataField="PersonID" alignment="center" >
                  <dxo-lookup
                      [dataSource]="PersonSource"
                      displayExpr="PersonName"
                      valueExpr="PersonID"
                  ></dxo-lookup>
                </dxi-column>
                <dxi-column caption="手机号" cssClass="disabled" dataField="Phone" alignment="center" [allowEditing]="false"></dxi-column>
                <dxi-column caption="管理员类型" dataField="RoleID" alignment="center">
                  <dxo-lookup
                      [dataSource]="RoleSource"
                      displayExpr="name"
                      valueExpr="value"
                  ></dxo-lookup>
                </dxi-column>
                <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
            </dx-data-grid>
          </editor-grid-item>
      </editor-grid-tab>
    </editor-multiple-grid>

    <div class="uploader-wrapper" >
      <!-- [readonly]="!permission.$$edit && !permission.$$add" -->
        <app-upload-view  (fileListChange)="fileListChanged($event)" [numericalOrder]="NumericalOrder"></app-upload-view>
    </div>

    <dx-popup
        [(visible)]="outVisible"
        width="70%"
        [maxHeight]="600"
        [dragEnabled]="false"
        [showTitle]="true"
        (onHiding)="onPopupHiding()"
        resizeEnabled="true"
        title="养户场栋对应表添加弹出框"
        showCloseButton="true"
    >
      <dx-form [colCount]="4" width="100%" [(formData)]="outFormData"
      validationGroup="customerData" [showOptionalMark]="false" [showRequiredMark]="true" (onFieldDataChanged)="_onFieldDataChanged($event)">
      <dxi-item itemType="group" [colSpan]="4" [colCount]="3">
        <dxi-item [label]="{ text: '养殖场', alignment: 'right',showColon: false }"  editorType="dxSelectBox" [editorOptions]="{
          showClearButton: true,
          dataSource: ChickenFarmSource,
          searchEnabled:true,
          valueExpr: 'ChickenFarmID',
          displayExpr: 'ChickenFarmName',
          placeholder: '请选择养殖场'
        }" dataField="ChickenFarmID">
        </dxi-item>
        <dxi-item [label]="{ text: '开始日期', alignment: 'right',showColon: false }" dataField="StartDate">
            <dx-date-box [(value)]="outFormData.StartDate" type="date" dateSerializationFormat="yyyy/MM/dd"></dx-date-box>
        </dxi-item>
        <dxi-item [label]="{ text: '结束日期', alignment: 'right',showColon: false }" dataField="EndDate">
            <dx-date-box [(value)]="outFormData.EndDate" type="date" dateSerializationFormat="yyyy/MM/dd"></dx-date-box>
        </dxi-item>
      </dxi-item>
      </dx-form>
        <dx-data-grid
            #gridRef
            style="margin-top: 20px;"
            height="80%"
            [dataSource]="raisingFarmDataSource"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            columnResizingMode='widget'
            keyExpr="HenHouseID"
            [showBorders]="true"
            [(selectedRowKeys)]="selectedRows"
        >
        <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-selection showCheckBoxesMode="always" mode="multiple"> </dxo-selection>
        <dxo-scrolling mode="virtual"> </dxo-scrolling>

          <dxi-column dataField="ZoningID" dataType="string" caption="场区" >
            <dxo-lookup
                [dataSource]="ZoningSource"
                displayExpr="ZoningName"
                valueExpr="ZoningID"
            ></dxo-lookup>
          </dxi-column>
          <dxi-column dataField="HenHouseName" dataType="string" caption="栋舍" [allowEditing]="false" ></dxi-column>
          <dxi-column dataField="iCount" dataType="number" caption="容量（只）" [allowEditing]="false" ></dxi-column>
          <dxi-column dataField="AreaSize" dataType="number" caption="面积（平方米）" [allowEditing]="false"></dxi-column>
        </dx-data-grid>
      <div height="10%" style="margin-top: 10px;text-align: center;">
          <dx-button  style="line-height:30px;margin-left: 15px;background:#4f8fd9;border-color:transparent;color:#fff;"
          text="确定"
          [disabled]="!selectedRows?.length"
          (onClick)="getSelection(1)"
        >
        </dx-button>
        <dx-button  style="line-height:30px;margin-left: 15px;background:#4f8fd9;border-color:transparent;color:#fff;"
          text="关闭"
          (onClick)="getSelection(3)"
        >
        </dx-button>
      </div>
    </dx-popup>

    <!-- 一致人员增加表 -->
    <dx-popup
      width="500"
      height="500"
      [(visible)]="actionVisible"
      [dragEnabled]="false"
      [showTitle]="true"
      title="养户一致行动人添加弹出框"
    >
        <dx-form
          #ZoningForm
          [colCount]="1"
          width="100%"
          [(formData)]="formDataZoning"
          style="padding-right: 10px"
          [showRequiredMark]="true"
          (onFieldDataChanged)="onActionDataChanged($event)"
        >
            <dxi-item [label]="{ text: '手机号', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
              [editorOptions]="{ showClearButton:true,placeholder: '请输入手机号', disabled: actionDisabled }" dataField="Phone">
              <dxi-validation-rule type="required" message="手机号必填"></dxi-validation-rule>
              <dxi-validation-rule type="pattern" message="请输入正确的手机格式" [pattern]="PhoneJudge"></dxi-validation-rule>
            </dxi-item>
            <br>
            <dxi-item
              [label]="{ text: '姓名', alignment: 'right',showColon: false }"
              dataField="Name"
              [editorOptions]="{ placeholder: '请输入姓名',disabled: actionDisabled }"
            >
              <dxi-validation-rule type="required" message="姓名必填"> </dxi-validation-rule>
              <dxi-validation-rule type="stringLength" min="0" max="128" message="姓名长度最大128字">
              </dxi-validation-rule>
              <dxi-validation-rule type="pattern" message="非法字符" [pattern]="limitCharacter"></dxi-validation-rule>
            </dxi-item>
            <dxi-item [label]="{ text: '身份证', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
              [editorOptions]="{ showClearButton:true,placeholder: '请输入身份证', disabled: actionDisabled }" dataField="Card">
              <dxi-validation-rule type="pattern" message="请输入正确的身份证号" [pattern]="IdCardNumberType"></dxi-validation-rule>
            </dxi-item>
            <dxi-item [label]="{ text: '备注', alignment: 'right',showColon: false }" editorType="dxTextBox" [colSpan]="2"
              [editorOptions]="{ showClearButton:true,placeholder: '请输入备注' }" dataField="Remarks">
            </dxi-item>
            <dxi-item style="text-align: center;margin-top: 30px;">
                <dx-button style="margin-right: 10px;" type="default" text="保存并新增" (onClick)="onZoningFormSubmit(true)" [disabled]="saveDisabled"></dx-button>
                <dx-button type="default" text="保存" (onClick)="onZoningFormSubmit(false)" [disabled]="saveDisabled"></dx-button>
            </dxi-item>
        </dx-form>
    </dx-popup>

    <!-- 手机号客户信息选择弹框 -->
    <dx-popup
        [(visible)]="cusVisible"
        width="70%"
        [maxHeight]="600"
        [dragEnabled]="false"
        [showTitle]="true"
        (onHiding)="_onPopupHiding()"
        resizeEnabled="true"
        title="客户引用"
        showCloseButton="true"
    >
      <dx-form #form id="form" [colCount]="3" width="100%" [(formData)]="cusFormData"
      validationGroup="customerData" [showOptionalMark]="false" [showRequiredMark]="true" [readOnly]="$form">
      <dxi-item itemType="group" [colSpan]="3" [colCount]="3">
        <dxi-item [label]="{ text: '客户检索', alignment: 'right',showColon: false }" editorType="dxTextBox"
          [editorOptions]="{ showClearButton: true, placeholder: '请输入客户' }" dataField="LinkMan">
        </dxi-item>
        <dxi-item><span></span></dxi-item>
        <dxi-item>
          <dx-button class="zz-dxButton"
              text="查询"
              (onClick)="onSearch()"
          >
          </dx-button>
          <dx-button class="zz-dxButton" style="margin-left: 20px;"
              text="重置"
              (onClick)="reset()"
              >
          </dx-button>
        </dxi-item>
      </dxi-item>
      </dx-form>
      <div style="margin-top: 20px;" class="lhd_card">
        <dx-list [dataSource]="customerListData" [height]="400">
          <div *dxTemplate="let item of 'item'">
            <div class="product">
              <div><span>编号</span>{{ item.CustomerId }}</div>
              <div><span>评价</span>{{ '暂无' }}</div>
              <div><span>名称</span>{{ item.CustomerName }}</div>
              <div></div>
              <div><span>负责人</span>{{ item.LinkMan }}</div>
              <div><span>手机号</span>{{ item.Phone }}</div>
              <div><span>创建单位</span>{{ item.EnterpriseName }}</div>
              <div><span>是否内部单位</span>{{ item.IsInner == 1 ? '是' : '否' }}</div>
              <div><span>是否客户</span>{{ item. IsSa == 1 ? '是' : '否' }}</div>
              <div><span>是否供应商</span>{{ item.IsPm == 1 ? '是' : '否' }}</div>
              <div><span>是否已经引入</span>{{ item.IsSaImp == 1 ? '是' : '否' }}</div>
              <div>
                <dx-button class="zz-dxButton"
                      text="引入"
                      (onClick)="onIntroduce(item)"
                  >
                  </dx-button>
              </div>
            </div>
          </div>
        </dx-list>
      </div>
    </dx-popup>

    <!-- 养户提示 -->
    <dx-popup
      [width]="300"
      [height]="180"
      [showTitle]="true"
      title="提示"
      [(visible)]="FarmerVisible"
    >
      <div style="text-align: center;">
          <p>当前集团已存在该手机号的养户，您确定将该养户引入贵单位吗？</p>
          <div>
              <dx-button
                  style="margin-right: 15px"
                  type="normal"
                  text="确定"
                  (onClick)="farConfirm()"
                  >
              </dx-button>
              <dx-button
                  type="normal"
                  text="取消"
                  (onClick)="farCancel()"
                  >
              </dx-button>
          </div>
      </div>
    </dx-popup>

    <!-- 一致人删除提示 -->
    <dx-popup
      [width]="300"
      [height]="180"
      [showTitle]="true"
      title="提示"
      [(visible)]="actionDelVisible"
    >
      <div style="text-align: center;">
          <p>您确定要删除此行吗？</p>
          <div>
              <dx-button
                  style="margin-right: 15px"
                  type="normal"
                  text="确定"
                  (onClick)="_deleteonActiRowImpl()"
                  >
              </dx-button>
              <dx-button
                  type="normal"
                  text="取消"
                  (onClick)="actionDelVisible = false"
                  >
              </dx-button>
          </div>
      </div>
    </dx-popup>
  </div>

</div>