:host ::ng-deep .toolbar-wrapper {
    margin-top: 0px !important;
}
:host ::ng-deep .data-grid-container {
    height: calc(100% - 246px) !important;
}
:host ::ng-deep .data-grid-container.has-review {
    height: calc(100% - 286px) !important;
}
.print {
    position: absolute;
    top: 18px;
    right: 150px;
    z-index: 100;
}