.editor-html-editor {
    padding: 0px 10px;
    box-sizing: border-box;
    .editor-html-title {
        font-size: 14px;
        font-weight: 600;
        color: #5c6064;
        height: 30px;
        line-height: 30px;
    }
}
