:host ::ng-deep .toolbar-wrapper {
    margin-top: 0px !important;
}
:host ::ng-deep .data-grid-container {
    height: calc(100% - 246px) !important;
}
:host ::ng-deep .data-grid-container.has-review {
    height: calc(100% - 286px) !important;
}
.print {
    position: absolute;
    top: 18px;
    right: 120px;
    z-index: 100;
}
.data-grid-wrapper {
    margin-top: 14px;
}
.l_span {
    display: inline-block;
    height: 23px;
    margin-top: 8px;
}
.l_div {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.l_button {
    line-height:30px;
    margin-left: 15px;
    background:#d9544f;
    border-color:transparent;
    color:#fff;
}