:host {
    .editor-review-item {
        font-size: 14px;
        .review-label {
            margin-right: 10px;
            width: auto;
            min-width: 100px;
            .label {
                margin-right: 10px;
            }
            .name {
                min-width: 50px;
                margin-right: 10px;
                font-size: 14px;
            }
        }
        .review-btn {
            color: #d9544f;
        }
    }
}
